<?xml version="1.0"?>
<!-- 
/**
 * O2TI Pre Order.
 *
 * Copyright © 2024 O2TI. All rights reserved.
 *
 * @author    Bruno Elisei <brunoelisei@o2ti.com>
 * @license   See LICENSE for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="O2TI\PreOrder\Api\PreOrderRepositoryInterface" type="O2TI\PreOrder\Model\PreOrderRepository" />
    <preference for="O2TI\PreOrder\Api\Data\PreOrderInterface" type="O2TI\PreOrder\Model\PreOrder" />
    <preference for="O2TI\PreOrder\Api\PreOrderManagementInterface" type="O2TI\PreOrder\Model\PreOrderManagement" />
    <preference for="O2TI\PreOrder\Api\Data\GuestPreOrderInterface" type="O2TI\PreOrder\Model\Data\GuestPreOrder" />
    <preference for="O2TI\PreOrder\Api\GuestPreOrderManagementInterface" type="O2TI\PreOrder\Model\GuestPreOrderManagement" />

    <virtualType name="O2TI\PreOrder\Model\ResourceModel\PreOrder\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">pre_order</argument>
            <argument name="resourceModel" xsi:type="string">O2TI\PreOrder\Model\ResourceModel\PreOrder</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="preorder_listing_data_source" xsi:type="string">O2TI\PreOrder\Model\ResourceModel\PreOrder\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>