<?xml version="1.0"?>
<!-- 
/**
 * O2TI Pre Order.
 *
 * Copyright © 2024 O2TI. All rights reserved.
 *
 * @author    Bruno Elisei <brunoelisei@o2ti.com>
 * @license   See LICENSE for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="O2TI_PreOrder::preorder" 
             title="Pre Orders" 
             module="O2TI_PreOrder" 
             sortOrder="100" 
             parent="Magento_Sales::sales" 
             action="preorder/order/index" 
             resource="O2TI_PreOrder::preorder"/>
    </menu>
</config>